%h2
  = link_to 'Users', users_path
  \/
  = @user.full_name
  \/
  = link_to 'Keys', user_keys_path(@user)
  \/
  Add a key

= form_for @key, url: user_keys_path(@user) do |f|
  = render partial: 'users/keys/form', locals: {f: f}