- if (full_messages = f.object.errors.full_messages).present?
  %ul.errors
    - full_messages.each do |error|
      %li= error
.form-group
  = f.label :name, 'Repository Name'
  = f.text_field :name, class: 'form-control'
- if f.object.new_record?
  .form-group
    = f.label :handle, 'Handle'
    = f.text_field :handle, class: 'form-control'
.form-group
  = f.label :description, 'Repository Description'
  = f.text_area :description, class: 'form-control'
.form-group
  = f.label :type, 'Repository Type'
  = f.select :type, [['GIT', 'GitRepository']], class: 'form-control'
.form-group
  = f.submit 'Submit', class: 'btn btn-success'
  &nbsp;
  = link_to 'Back', :back