= render partial: 'repositories/heading'

.row
  .col-md-5
    - @commits.group_by {|commit| commit.issued_at.to_date }.each do |date, commits|
      = render partial: 'repositories/commits', locals: {commits: commits, date: date}
  .col-md-7
    %table.tree
      %thead
        %th
        %th Name
        %th Message
        %th Modified
      %tbody
        - if params[:path]
          %tr
            %td
            %td
              %b= link_to '..', :back
            %td
            %td
        = render partial: 'repositories/content', collection: @reference.folders(params[:path])
        = render partial: 'repositories/content', collection: @reference.files(params[:path])
