= content_for :nav do
  = render partial: 'repositories/nav'

.row
  .col-md-12
    = form_for @repository, as: :repository, url: url_for(space_id: @repository.space, id: params[:id], controller: '/repositories', action: 'edit') do |f|
      = f.hidden_field :id
      = render partial: 'repositories/form', locals: {f: f}
    %hr
    = link_to 'Delete this repository', url_for(space_id: @repository.space, repository_id: @repository, id: params[:id], controller: '/repositories', action: 'destroy'), method: :delete, data: {confirm: "Do you want to remove a repository?"}