= content_for :nav do
  = render partial: 'repositories/nav'

.row
  .col-md-12
    = form_for @repository, as: :repository, url: repository_path(id: params[:id]) do |f|
      = f.hidden_field :id
      = render partial: 'repositories/form', locals: {f: f}
    %hr
    = link_to 'Delete this repository', repository_path(id: params[:id]), method: :delete, data: {confirm: "Do you want to remove a repository?"}