= content_for :nav do
  = content_for :actions do
    = link_to new_repository_path, class: 'btn btn-success' do
      %fa.fa.fa-plus
      Create a repository
  = render partial: 'shared/nav'

%table.table.repositories-table
  %tbody
    - @repositories.each do |repository|
      %tr
        %td.stats-td
          .stats.text-center
            .stats-changes-count
              = number_to_human_size repository.size
        %td.name-td
          = repository.name
          .description
            = repository.description
        %td.actions-td
          = link_to 'Show', repository_path(repository), class: 'btn btn-success'
- if @repositories.empty?
  .jumbotron
    .container.text-center
      You have not created any repositories yet.
      &nbsp;
      = link_to 'Create your first repository now', new_repository_path, class: 'btn btn-success'