%li.commit.row(id="commit-#{commit.oid}")
  .col-md-2.commit-author
    = image_tag 'avatar.png', class: 'img-rounded', width: '58px'
  .col-md-10
    .row
      .col-md-8.commit-message
        = commit.message
      .col-md-3.commit-sha
        = link_to repository_branch_commit_path(@repository, @branch, commit.oid), class: 'btn btn-commit btn-default' do
          = truncate commit.oid, length: 8, omission: ''
    .commit-author
      #{mail_to commit.committer[:email], commit.committer[:name]} on #{l commit.committer[:time], format: :short}