.full-commit
  %p.commit-title
    =# image_tag @commit.user.avatar.thumb, class: 'img-rounded', width: '32px'
    = image_tag 'avatar.png', class: 'img-rounded', width: '32px'
    = @blob.commit.message
  .commit-meta
    .pull-left
      #{l @blob.commit.created_at, format: :long}
    .pull-right
      commit
      = link_to url_for(space_id: @repository.space, repository_id: @repository, id: @blob.commit_id, controller: '/repositories/commits', action: 'show'), title: @blob.commit.sha do
        %span.commit-sha= @blob.commit.sha
    .clearfix

