= content_for :path do
  = render partial: 'shared/blobs/folders', object: @blob.folders

= content_for :nav do
  = render partial: 'repositories/nav'

= render partial: 'shared/blobs/file_history'
.file
  = render partial: 'shared/blobs/file_header'
  = render partial: 'shared/blobs/file_wrapper'