= content_for :nav do
  = content_for :actions do
    = link_to new_space_path, class: 'btn btn-success' do
      %fa.fa.fa-plus
      Create a space
  = render partial: 'shared/nav'

.spaces
  .spaces-header Spaces
  .spaces-wrapper
    %table.table.spaces-table
      %tbody
        = render partial: 'spaces/space', collection: @spaces