= content_for :nav do
  = render partial: 'shared/nav'

= form_for @space, as: :space, url: spaces_path do |f|
  = render partial: 'spaces/form', locals: {f: f}
  .form-group
    = f.submit 'Submit', class: 'btn btn-success'