%tr(id="#{tree.type}-#{tree.id}" class="#{tree.type}")
  %td.icon
    %i.fa.fa-folder
  %td.name
    = link_to tree.path, repository_reference_tree_path(@repository, reference_type: @reference.type.tableize, reference_id: @reference.name, path: tree.path)
  %td.message
    = link_to repository_reference_commit_path(@repository, reference_type: @reference.type.tableize, reference_id: @reference.name, id: tree.commit_id), title: tree.message do
      = truncate tree.message, length: 72
  %td.modified
    = time_ago_in_words tree.updated_at