%tr(id="#{tree.type}-#{tree.id}" class="#{tree.type}")
  %td.icon
    %i.fa.fa-folder
  %td.name
    - path = params[:path].present? ? File.join(params[:path], tree.name) : tree.name
    = link_to tree.name, repository_reference_tree_path(@repository, reference_type: @reference.type.tableize, reference_id: @reference.name, path: path)
  %td.message
    = tree.message
  %td.modified
    = tree.modified