= content_for :nav do
  = render partial: 'repositories/nav'

.row
  .col-md-3
    %svg#commits-calendar{data: {path: repository_reference_commits_count_path(reference_type: @reference.type.tableize, reference_id: @reference.name, from: 195.days.ago.to_date, to: Date.today, format: :json)}}

    - @commits.group_by {|commit| commit.issued_at.to_date }.each do |date, commits|
      = render partial: 'repositories/references/trees/commits', locals: {commits: commits, date: date}

    .contributors
      - @repository.users.each do |user|
        .contributor
          = image_tag user.avatar.thumb, width: '32px', class: 'img-rounded', title: user.username
    .clearfix
  .col-md-9
    %section.tree
      .tree-heading
        %p.tree-commit-message
          %i.fa.fa-code-fork
          = link_to @commits.first.message, repository_reference_commit_path(@repository, reference_type: @reference.type.tableize, reference_id: @reference.name, id: @commits.first.sha), title: @commits.first.message
        .tree-commit-author
          .pull-left
            = image_tag @commits.first.user.avatar.thumb, width: '22px', class: 'img-rounded'
            = @commits.first.author
            %span.modified updated #{time_ago_in_words @commits.first.issued_at}
          .pull-right
            = link_to repository_reference_commit_path(@repository, reference_type: @reference.type.tableize, reference_id: @reference.name, id: @commits.first.sha), class: 'tree-commit-link' do
              last commit #{truncate @commits.first.sha, length: 8, omission: ''}
          .clearfix
      .tree-content
        %table
          %tbody
            - if params[:path]
              %tr
                %td
                %td
                  %b= link_to '..', :back
                %td
                %td
            = render partial: 'repositories/references/trees/tree', collection: @reference.folders(params[:path])
            = render partial: 'repositories/references/blobs/blob', collection: @reference.files(params[:path])

    %section.readme
      .content
        = render_readme @reference, params[:path]