- if (full_messages = f.object.errors.full_messages).present?
  .from-group
    %ul
      - full_messages.each do |message|
        %li= message
.form-group
  = f.label :full_name, 'Full Name'
  = f.text_field :full_name, class: 'form-control'
- unless f.object.persisted?
  .form-group
    = f.label :username, 'Username'
    = f.text_field :username, class: 'form-control'
.form-group
  = f.label :email, 'E-mail'
  = f.text_field :email, class: 'form-control'
.form-group
  = f.label :avatar, 'Avatar'
  = f.file_field :avatar
.form-group
  = f.submit 'Submit', class: 'btn btn-success'
  &nbsp;
  = link_to 'Back', :back