= render partial: 'shared/heading'

%table.table.users-table
  %tbody
    - @users.each do |user|
      %tr
        %td.avatar-td
          = image_tag user.avatar.thumb, class: 'img-circle', width: '48px'
        %td.username-td
          = user.username
        %td.name-td
          = user.full_name
          .email
            = user.email
        %td.actions-td
          = link_to 'Keys', user_keys_path(user), class: 'btn btn-success'
          &nbsp;
          = link_to 'Edit', edit_user_path(user)

- if @users.empty?
  .jumbotron
    .container.text-center
      You have not created any users yet.
      &nbsp;
      = link_to 'Create first user now', new_user_path, class: 'btn btn-success'