#heading.row
  .pull-left
    .btn-group
      = link_to root_path, class: 'btn btn-default' do
        %i.fa.fa-home
    .btn-group
      = link_to 'Dashboard', repository_path(@repository), class: 'btn btn-default' if @repository
      = yield :current
      = render partial: 'shared/nav/repositories'

    = yield :actions
  .pull-right
    .btn-group
      %button#settings.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
        %i.fa.fa-cog
      %ul.dropdown-menu{"aria-labelledby" => "settings", :role => "menu"}
        = yield :settings
        %li.dropdown-header
          = current_user.full_name
        %li= link_to 'Keys', keys_path
        %li.divider
        %li= link_to 'Logout', destroy_user_session_path, method: :delete
  .clearfix