#heading.row
  .pull-left
    .btn-group
      = link_to root_path, class: 'btn btn-default' do
        %i.fa.fa-home
    .btn-group
      = yield :current
      = render partial: 'shared/nav/repositories'

    = yield :actions
  .pull-right
    = render partial: 'shared/nav/settings'
  .clearfix