= content_for :nav do
  = render partial: 'repositories/nav'

%ul
  - @diff.deltas.each_with_index do |delta, index|
    %li
      .pull-left
        - if delta.status == :added
          %i.fa.fa-plus-square(style='color: green')
        - if delta.status == :deleted
          %i.fa.fa-minus-square
        - if delta.status == :modified
          %i.fa.fa-pencil-square(style='color: orange')
      .pull-left
        %span.file-path(data-number="#{index}")
          = delta.new_file[:path]

- @diff.patches.each_with_index do |patch, index|
  - patch.hunks.each do |hunk|
    .file(data-number="#{index}")
      .file-header
        .pull-left.file-header-info
          - additions = hunk.lines.count(&:addition?)
          - deletions = hunk.lines.count(&:deletion?)
          - changes = additions + deletions
          .pull-left.file-header-info-squares(data-additions="#{additions}" data-deletions="#{deletions}")
            - (additions * 7 / changes).round.times do
              .pull-left.file-header-info-square-addition
            - (7 - (additions * 7 / changes).round).times do
              .pull-left.file-header-info-square-deletion
          .pull-left.file-header-info-changes= pluralize changes, 'change'
        .pull-right.file-header-path
          :javascript
            document.write($(".file-path[data-number='#{index}']").html());
        .clearfix
      .diff-wrapper
        %table.diff-table(id="diff-#{hunk.object_id}")
          %tbody
          %tbody
            %tr
              %td.line.line-hunk
              %td.line.line-hunk
              %td.line.line-hunk
              %td.line.line-hunk
                = hunk.header
            - hunk.lines.select {|line| line.context? || line.addition? || line.deletion? }.each do |line|
              %tr
                %td(class="line line-#{line.line_origin} line-number")= line.old_lineno unless line.addition?
                %td(class="line line-#{line.line_origin} line-number")= line.new_lineno unless line.deletion?
                %td(class="line line-#{line.line_origin} line-pointer")= line.addition? ? '+' : (line.deletion? ? '-': '')
                %td(class="line line-#{line.line_origin} line-code")= line.content
