.commit(id="commit-#{commit.sha}")
  .commit-avatar.pull-left
    = image_tag commit.user.avatar.thumb, class: 'img-rounded', width: '38px'
  .commit-title.pull-left
    .commit-message
      = link_to commit.message.truncate(106), url_for(space_id: @repository.space, repository_id: @repository, id: commit.sha, controller: '/repositories/commits', action: 'show'), title: commit.message
    .commit-meta
      Committed by #{mail_to commit.committer_email, commit.committer_name} #{time_ago_in_words commit.issued_at} ago
      - if commit.different_committer_and_author?
        (authored by #{mail_to commit.author_email, commit.author_name})
      &nbsp;&middot;&nbsp;
      = pluralize commit.additions, 'addition'
      &nbsp;&middot;&nbsp;
      = pluralize commit.deletions, 'deletion'
      - if (comments_counts = commit.comments_count) > 0
        &nbsp;&middot;&nbsp;
        %i.fa.fa-comments
        &nbsp;
        = link_to url_for(space_id: @repository.space, repository_id: @repository, id: commit.sha, controller: '/repositories/commits', action: 'show') do
          = pluralize comments_counts, 'comment'
  .commit-actions.pull-right
    .btn-group
      = link_to url_for(space_id: @repository.space, repository_id: @repository, tree_id: commit.sha, controller: '/repositories/trees/contents', action: 'index'), class: 'btn btn-default', title: 'Browse files' do
        %i.fa.fa-folder
      = link_to url_for(space_id: @repository.space, repository_id: @repository, id: commit.sha, controller: '/repositories/commits', action: 'show'), class: 'btn btn-default', title: commit.sha do
        %i.fa.fa-code
  .clearfix