.file(id="file-#{file.id}" data-path="#{file.path}")
  .file-header
    .pull-left.file-header-info
      .pull-left.file-header-info-squares
        = render partial: 'repositories/commits/file_header_info_squares', locals: {file: file}
      .pull-left.file-header-info-changes
        = pluralize (file.additions + file.deletions), 'change'
      .pull-left
        %span.file-header-info-path
          - if file.status == 'deleted'
            %del= file.path.truncate(48)
          - else
            = link_to file.path.truncate(48), url_for(space_id: @repository.space, repository_id: @repository, tree_id: @commit.sha, id: file.path, controller: '/repositories/trees/blobs', action: 'show'), title: file.path
        %span.file-header-info-lines
          = pluralize file.total_number_of_lines_before, 'line'
          before
        %span.file-header-info-lines
          = pluralize file.total_number_of_lines_after, 'line'
          now
        %span.file-header-info-comments
          - comments_count = @comments.select {|comment| comment.path == file.path }.size
          = link_to '#comments', class: 'collapse-comments', data: {collapse: 'on'}, title: 'Show or hide the comments' do
            = pluralize comments_count, 'comment'
    .pull-right.file-header-actions
      - unless file.status == 'deleted'
        .btn-group
          = link_to 'Diff', url_for(space_id: @repository.space, repository_id: @repository, tree_id: @commit.sha, id: file.path, file_id: file.id, controller: '/repositories/trees/blobs', action: 'show'), title: "Diff", class: 'btn btn-default btn-diff active', data: { file_id: file.id }
          = link_to 'View', url_for(space_id: @repository.space, repository_id: @repository, tree_id: @commit.sha, id: file.path, file_id: file.id, controller: '/repositories/trees/blobs', action: 'index', format: 'js'), title: "View", class: 'btn btn-view btn-default', remote: true
          = link_to 'Raw', url_for(space_id: @repository.space, repository_id: @repository, tree_id: @commit.sha, id: file.path, controller: '/repositories/trees/raws', action: 'show'), title: "Raw", class: 'btn btn-default'
    .clearfix
  .diff-wrapper
    %table.diff-table
      = render partial: 'repositories/commits/hunk', collection: file.hunks, locals: {file: file}