.file(id="file-#{file.id}")
  .file-header
    .pull-left.file-header-info
      .pull-left.file-header-info-squares
        = render partial: 'repositories/commits/file_header_info_squares', locals: {file: file}
      .pull-left.file-header-info-changes
        = pluralize (file.additions + file.deletions), 'change'
      .pull-left
        %span.file-header-info-path
          - if file.status == 'deleted'
            %del= file.path
          - else
            = link_to file.path, repository_tree_blob_path(@repository, tree_id: @commit.sha, id: file.path), title: file.path
        %span.file-header-info-lines
          = pluralize file.total_number_of_lines_before, 'line'
          before
        %span.file-header-info-lines
          = pluralize file.total_number_of_lines_after, 'line'
          now
    .pull-right.file-header-actions
      - unless file.status == 'deleted'
        .btn-group
          = link_to 'Diff', repository_tree_blob_path(@repository, tree_id: @commit.sha, id: file.path, file_id: file.id), title: "Diff", class: 'btn btn-default btn-diff active', data: { file_id: file.id }
          = link_to 'View', repository_tree_blobs_path(@repository, tree_id: @commit.sha, id: file.path, file_id: file.id, format: 'js'), title: "View", class: 'btn btn-view btn-default', remote: true
          = link_to 'Raw', repository_tree_raw_path(@repository, tree_id: @commit.sha, id: file.path), title: "Raw", class: 'btn btn-default'
    .clearfix
  .diff-wrapper
    %table.diff-table
      = render partial: 'repositories/commits/hunk', collection: file.hunks, locals: {file: file}