= content_for :path do
  = link_to url_for(space_id: @repository.space, repository_id: @repository, tree_id: @commit.sha, controller: '/repositories/trees/contents', action: 'index'), class: 'btn btn-default', title: 'Browse files' do
    %i.fa.fa-folder

= content_for :nav do
  = render partial: 'repositories/nav'

.full-commit
  = render partial: 'repositories/commits/commit_title', locals: {commit: @commit}
  = render partial: 'repositories/commits/commit_references', locals: {commit: @commit}
  = render partial: 'repositories/commits/commit_meta', locals: {commit: @commit}
  = render partial: 'repositories/commits/commit_files', locals: {commit: @commit}
= render partial: 'repositories/commits/file', collection: @commit.files

.short-comments
  = render partial: 'repositories/commits/comments/short', collection: @comments