%tr(id="#{blob.type}-#{blob.id}" class="#{blob.type}")
  %td.icon
    %i.fa.fa-1.fa-file-text-o
  %td.name
    = link_to blob.name, repository_reference_blob_path(@repository, reference_type: @reference.type.tableize, reference_id: @reference.name, path: blob.path)
  %td.message
    = link_to repository_reference_commit_path(@repository, reference_type: @reference.type.tableize, reference_id: @reference.name, id: blob.commit_id), title: blob.message do
      = truncate blob.message, length: 72
  %td.modified
    = time_ago_in_words blob.updated_at