= content_for :path do
  = render partial: 'shared/contents/folders', object: @tree.folders

= content_for :nav do
  = render partial: 'repositories/nav'

//%svg#commits-calendar{data: {path: count_repository_commits_path(@repository, from: 195.days.ago.to_date, to: Date.today, format: :json)}}
.contributors
  - @repository.users.each do |user|
    .contributor
      = image_tag user.avatar.thumb, width: '32px', class: 'img-rounded', title: user.username
.clearfix
%section.tree
  .tree-heading
    %p.tree-commit-message
      %i.fa.fa-code-fork
      = link_to @commit.message, url_for(space_id: @repository.space, repository_id: @repository, id: @commit.sha, controller: '/repositories/commits', action: 'show'), title: @commit.message
    .tree-commit-author
      .pull-left
        =# image_tag @commit.user.avatar.thumb, width: '22px', class: 'img-rounded'
        = image_tag 'avatar.png', width: '22px', class: 'img-rounded'
        = @commit.author_name
        %span.modified updated #{time_ago_in_words @commit.created_at} ago
      .pull-right
        = link_to url_for(space_id: @repository.space, repository_id: @repository, id: @commit.sha, controller: '/repositories/commits', action: 'show') do
          = @commit.sha
      .clearfix
  .tree-content
    %table
      %tbody
        - unless @tree.folders.empty?
          %tr
            %td
            %td
              %b= link_to '..', url_for(space_id: @repository.space, repository_id: @repository, tree_id: @tree.id, id: params[:id] + '/../', controller: '/repositories/trees/contents', action: 'show')
            %td
            %td
        = render partial: 'shared/contents/tree', collection: @contents.select(&:tree?)
        = render partial: 'shared/blobs/blob', collection: @contents.select(&:blob?)
%section.readme
  .content
