.short-comment(id="short-comment-#{short.id}")
  .short-comment-avatar.pull-left
    = image_tag short.user.avatar.thumb, class: 'img-circle', width: '18px'
  .short-comment-title.pull-left
    %span.username= short.user.username
    commented on #{l short.created_at, format: :short} file #{link_to File.basename(short.path), url_for(space_id: @repository.space, repository_id: @repository, controller: '/repositories/commits', action: 'show', anchor: "comment-#{short.id}")}
  .short-comment-content
    = short.content.truncate 64
  .clearfix