%tr(id="user-#{user.id}")
  %td.avatar-td
    = image_tag user.avatar.thumb, class: 'img-circle', width: '48px'
  %td.username-td
    = user.username
  %td.name-td
    = user.full_name
    .email
      = user.email
  %td.actions-td
    .btn-group
      = link_to repository_user_path(@repository, user), method: :patch, remote: true, class: 'btn btn-success btn-on' do
        - if @repository.users.include?(user)
          %i.fa.fa-check
        Allow
      = link_to repository_user_path(@repository, user), method: :delete, remote: true, class: 'btn btn-danger btn-off' do
        Deny
        - unless @repository.users.include?(user)
          %i.fa.fa-check
    = link_to user_path(id: user.username), method: :delete, remote: true, class: 'btn btn-default', title: 'Close an account', data: {confirm: 'Do you want to close this account?'} do
      %i.fa.fa-times